<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dashboard/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dashboard/vendor/fonts/circular-std/style.css" >
    <link rel="stylesheet" href="/dashboard/libs/css/style.css">
    <link rel="stylesheet" href="/dashboard/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>
<!-- main wrapper -->
<div class="dashboard-main-wrapper">
    <!-- navbar -->
    <div class="dashboard-header">
        <div th:replace="~{dashboard/common/common::navbar}"></div>
    </div>
    <!-- end navbar -->

    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <div th:replace="~{dashboard/common/common::sidebar(active='order')}"></div>
        </div>
    </div>
    <!-- end left sidebar -->

    <!-- wrapper  -->
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- pageheader -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Order</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Order</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end pageheader -->

            <div class="row">
                <!-- striped table -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Order</h5>
                        <div class="card-body">
                            <!--<a class="btn btn-sm btn-primary" th:href="@{/dashboard/order/add}">Add</a>-->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Member Name</th>
                                    <th>Create Date</th>
                                    <th>Update Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Delete</th>
                                    <th>Items</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order:${orders}">
                                    <td th:text="${order.getId()}"></td>
                                    <td th:text="${order.getUsername()}"></td>
                                    <td th:text="${order.getCreateTime()}"></td>
                                    <td th:text="${order.getUpdateTime()}"></td>
                                    <td th:text="${order.getStatus()}"></td>
                                    <td>£<span th:text="${order.getTotalPrice()}"></span></td>
                                    <td><a class="btn btn-xs btn-danger" href="javascript:void(0);" th:onclick="'confirmDeleteOrder(' + ${order.getId()} + ');' ">Delete</a></td>
                                    <td>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Specification</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="orderDetail:${order.getOrderDetails()}">
                                                <td th:text="${orderDetail.getProductName()}"></td>
                                                <td th:text="${orderDetail.getProductSpecification()}"></td>
                                                <td>£<span th:text="${orderDetail.getPrice()}"></span></td>
                                                <td th:text="${orderDetail.getQuantity()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end striped table -->
            </div>
        </div>

        <!-- footer -->
        <div th:replace="~{dashboard/common/common::footer}"></div>
        <!-- end footer -->
    </div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<script src="/dashboard/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/dashboard/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/dashboard/vendor/custom-js/jquery.multi-select.html"></script>
<script src="/dashboard/libs/js/main-js.js"></script>
<script>
    function confirmDeleteOrder(id) {
        if (confirm("Confirm to delete?"))
        {
            $.ajax({
                url: "/delete-order/" + id,
                type: "post",
                success: function () {
                    window.location.reload()
                }
            });
        }
    }
</script>
</body>

</html>