<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dashboard/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/dashboard/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard/libs/css/style.css">
    <link rel="stylesheet" href="/dashboard/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>
<!-- main wrapper -->
<div class="dashboard-main-wrapper">
    <!-- navbar -->
    <div class="dashboard-header">
        <div th:replace="~{dashboard/common/common::navbar}"></div>
    </div>
    <!-- end navbar -->

    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <div th:replace="~{dashboard/common/common::sidebar(active='category')}"></div>
        </div>
    </div>
    <!-- end left sidebar -->

    <!-- wrapper  -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <!-- pageheader -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Edit Category </h2>
                        <p class="pageheader-text"></p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Category</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end pageheader -->

            <div class="row">
                <!-- basic form -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Edit Category</h5>
                        <div class="card-body">
                            <form th:action="@{/dashboard/category/edit}" th:method="post" id="basicform" data-parsley-validate="">
                                <div class="form-group">
                                    <input type="text" th:value="${category.getId()}" name="id" class="form-control" hidden="true">
                                </div>
                                <div class="form-group">
                                    <label for="inputCategoryName">Category Name</label>
                                    <input id="inputCategoryName"  th:value="${category.getName()}" type="text" name="name" data-parsley-trigger="change" placeholder="Enter category name" autocomplete="off" class="form-control">
                                </div>
                                <!--<div class="form-group">
                                    <label for="inputImage">Upload Image</label>
                                    <input id="inputImage" th:value="${category.getImagePath()}" type="text" name="imagePath" data-parsley-trigger="change" placeholder="Enter image" autocomplete="off" class="form-control">
                                </div>-->
                                <div class="form-group">
                                    <label for="inputCreateTime">Create Time</label>
                                    <input id="inputCreateTime" th:value="${category.getCreateTime()}" type="text" name="createTime" data-parsley-trigger="change"  autocomplete="off" class="form-control" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputUpdateTIme">Update Time</label>
                                    <input id="inputUpdateTIme" th:value="${category.getUpdateTime()}" type="text" name="updateTime" data-parsley-trigger="change"  autocomplete="off" class="form-control" disabled="">
                                </div>


                                <div class="row">
                                    <div class="col-sm-6 pl-0">
                                        <p class="text-right">
                                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                            <button class="btn btn-space btn-secondary" onclick="history.go(-1);return false;">Cancel</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end basic form -->
            </div>
        </div>
        <!-- footer -->
        <div th:replace="~{dashboard/common/common::footer}"></div>
        <!-- end footer -->
    </div>
    <!-- end main wrapper -->
</div>
<!-- end main wrapper -->

<!-- Optional JavaScript -->
<script src="/dashboard/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/dashboard/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/dashboard/libs/js/main-js.js"></script>
</body>

</html>