<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/front-stage/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="/front-stage/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/front-stage/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/front-stage/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/front-stage/css/vendor/animate.min.css"> -->
    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="/front-stage/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/plugins.css">
    <link rel="stylesheet" href="/front-stage/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/front-stage/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/front-stage/css/style.min.css">

</head>

<body>

    <!-- Offcanvas Menu Area Start -->
    <div th:replace="~{/front-stage/common/common::offcanvas}"></div>
    <!--Offcanvas Menu Area End-->

    <!-- Header Area Start -->
    <div th:replace="~{/front-stage/common/common::header}"></div>
    <!-- Header Area  End -->

    <!--=====================
    Breadcrumb Aera Start
    =========================-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a href="index.html">Home</a></h1>
                            </li>
                            <li>My Orders</li>
                            <li>Add a Review</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================
    Breadcrumb Aera End
    =========================-->

    <!--======================
    My Account area Start
    ==========================-->
    <div class="my-account-area mt-50">
        <div class="container">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="checkout_info">
                    <form class="form-row" th:method="post" th:action="@{/review/add}">
                        <h3 class="last-title">Add a Review for This Item:</h3>
                        <input class="input-form" name="id" th:value="${orderDetail.getId()}" type="text" hidden>
                        <input class="input-form" name="orderId" th:value="${orderDetail.getOrderId()}" type="text" hidden>
                        <input class="input-form" name="productId" th:value="${orderDetail.getProductId()}" type="text" hidden>
                        <div class="form_group col-12 col-lg-12">
                            <label class="form-label">Product Name</label>
                            <input class="input-form" name="productName" th:value="${orderDetail.getProductName()}" type="text" readonly="">
                        </div>
                        <div class="form_group col-12 col-lg-12">
                            <label class="form-label">Product Specification</label>
                            <input class="input-form" name="productSpecification" th:value="${orderDetail.getProductSpecification()}" type="text" readonly="">
                        </div>
                        <div class="form_group col-12 col-lg-6">
                            <label class="form-label">Rating</label>
                            <select class="niceselect-option nice-select select-option" name="rating" id="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="form_group col-12 col-lg-6">
                            <label class="form-label">General Review</label>
                            <input class="input-form" name="generalReview" type="text">
                        </div>
                        <div class="form_group col-12 col-lg-12">
                            <label class="form-label" for="detailedReview">Detailed Review </label>
                            <textarea class="form-control" name="detailedReview" id="detailedReview" spellcheck="false" data-gramm="false" ></textarea>
                        </div>


                        <div class="form-row mt-20">
                            <input type="submit" class="btn-secondary" value="Update">
                            <button class="btn btn-space btn-info" onclick="history.back(-1);return false;">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--======================
    My Account area End
    ==========================-->




    <!--footer area start -->
    <div th:replace="~{/front-stage/common/common::footer}"></div>
    <!--footer area end -->

    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href=""><i class="fa fa-angle-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- modal area start-->
    <div th:replace="~{/front-stage/common/common::modal}"></div>
    <!-- modal area end-->


    <!-- JS============================================ -->

    <!-- Vendors JS -->
    <!--<script src="/front-stage/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/front-stage/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="/front-stage/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="/front-stage/js/vendor/bootstrap.min.js"></script> -->
    <!-- Plugins JS -->
    <!-- <script src="/front-stage/js/plugins/plugins.js"></script>
<script src="/front-stage/js/plugins/jquery.ui.js"></script>
<script src="/front-stage/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="/front-stage/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/front-stage/js/plugins/slick.min.js"></script>
<script src="/front-stage/js/plugins/modal.min.js"></script>
<script src="/front-stage/js/plugins/sticky-sidebar.min.js"></script>
<script src="/front-stage/js/plugins/countdown.min.js"></script>
<script src="/front-stage/js/plugins/jquery.nice-select.min.js"></script> -->


    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/front-stage/js/vendor/vendor.min.js"></script>
    <script src="/front-stage/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/front-stage/js/main.js"></script>

    <script>

        function onFormSubmit(){
            //password  validation
            var newPassword=$("#newPwd").val();
            var confirmPassword=$("#confirmPwd").val();
            if(newPassword!=confirmPassword){
                alert("Please enter the same password.");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>