<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/front-stage/images/favicon.ico">

    <!-- CSS
	 -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="front-stage/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/animate.min.css"> -->
    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="front-stage/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="front-stage/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="front-stage/css/plugins/plugins.css">
    <link rel="stylesheet" href="front-stage/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="front-stage/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="front-stage/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="front-stage/css/style.min.css">

</head>

<body>

    <!-- Offcanvas Menu Area Start -->
    <div th:replace="~{front-stage/common/common::offcanvas}"></div>
    <!--Offcanvas Menu Area End-->

    <!-- Header Area Start -->
    <div th:replace="~{front-stage/common/common::header}"></div>
    <!-- Header Area  End -->

    <div class="header-area header-three">
        <!-- Header Bottom Start -->
        <div class="header-menu header-bottom-area theme-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- Category Menu Start -->
                        <div class="categoryes-menu-bar">
                            <div class="categoryes-menu-btn category-toggle">
                                <div class="float-left">
                                    <a href="#">All Categories</a>
                                </div>
                                <div class="float-right">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>
                            <nav class="categorye-menus category-dropdown">
                                <ul class="categories-expand" th:each="category:${categories}">
                                    <!--<li class="categories-hover-right">
                                        <a href="#">Electronics <i class="fa fa-angle-right float-right"></i></a>
                                        <ul class="cat-submenu category-mega">
                                            <li class="cat-mega-title"><a href="#">Security Cameras</a>
                                                <ul>
                                                    <li><a href="#">DSLR Cameras</a></li>
                                                    <li><a href="#">Lense Camera</a></li>
                                                    <li><a href="#">Digital Cameras</a></li>
                                                    <li><a href="#">Mirrorless Cameras</a></li>
                                                    <li><a href="#">Point</a></li>
                                                </ul>
                                            </li>
                                            <li class="cat-mega-title"><a href="#">Mirrorless Cameras</a>
                                                <ul>
                                                    <li><a href="#">DSLR Cameras</a></li>
                                                    <li><a href="#">Lense Camera</a></li>
                                                    <li><a href="#">Digital Cameras</a></li>
                                                    <li><a href="#">Mirrorless Cameras</a></li>
                                                    <li><a href="#">Point</a></li>
                                                </ul>
                                            </li>
                                            <li class="cat-mega-title"><a href="#">Digital Cameras</a>
                                                <ul>
                                                    <li><a href="#">DSLR Cameras</a></li>
                                                    <li><a href="#">Lense Camera</a></li>
                                                    <li><a href="#">Digital Cameras</a></li>
                                                    <li><a href="#">Mirrorless Cameras</a></li>
                                                    <li><a href="#">Point</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>-->
                                    <li>
                                        <a href="#" th:text="${category.getName()}"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Category Menu End -->
                    </div>
                    <div class="col-lg-9">
                        <div class="search-container">
                            <form th:method="get" th:action="@{/search}">
                                <div class="top-cat">
                                    <select class="select-option" name="categoryId" id="category2">
                                        <option value="0">All categories</option>
                                        <option th:value="${category.getId()}" th:each="category:${categories}" th:text="${category.getName()}"></option>
                                    </select>
                                </div>
                                <div class="search_box">
                                    <input class="header-search" name="searchText" placeholder="Enter your search key ..." type="text">
                                    <button class="header-search-button" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom End  -->
    </div>

    <!--Breadcrumb Aera Start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a th:href="@{/}">Home</a></h1>
                            </li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb Aera End-->

    <!--Shop area Start-->
    <div class="shop-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <aside class="sidebar-widget mt-50">
                        <div class="shop-sidebar-category">
                            <div class="sidebar-title">
                                <h4 class="title-shop">Home</h4>
                            </div>
                            <ul class="sidebar-category-expand" th:each="category:${categories}">
                                <li class="menu-item-has-children">
                                    <a href="#" th:text="${category.getName()}"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_inner widget-background mt-50">
                            <div class="widget_list widget_filter">
                                <div class="sidebar-title">
                                    <h4 class="title-shop">Filter by Price</h4>
                                </div>
                                <form th:action="@{/}" method="get">
                                    <div id="slider-range"></div>
                                    <button type="submit">Filter</button>
                                    <input type="text" name="range" id="amount" />
                                </form>
                            </div>
                            <div class="widget_list widget_filter widget_categories mt-20">
                                <div class="sidebar-title">
                                    <h4 class="title-shop">Categories</h4>
                                </div>
                                <form th:action="@{/}" method="get">
                                    <ul th:each="category:${categories}">
                                        <li>
                                            <input type="checkbox" name="selectedCategory" th:text="${category.getName()}" th:value="${category.getName()}">
                                        </li>
                                    </ul>
                                    <button type="submit">Filter</button>
                                </form>
                            </div>
                        </div>
                        <!-- Shop Banner Start -->
                        <div class="single-banner text-center mt-50 mb-30">
                            <a href="#"><img src="front-stage/images/banner/shop-banner-2.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <!-- Shop Banner End -->
                    </aside>
                </div>
                <div class="col-lg-9 order-first order-lg-last">
                    <!-- Shop Banner Start -->
                    <div class="single-banner mt-50 mb-50">
                        <a href="#"><img src="front-stage/images/banner/shop-banner-1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <!-- Shop Banner End -->
                    <!-- Shop Toolbar Start -->
                    <div class="toolbar-shop mb-50">
                        <div class="shop_toolbar_btn">
                            <button data-role="grid_3" class="btn-grid-3 active"></button>
                            <button data-role="grid_list" class="btn-list"></button>
                        </div>
                        <div class="page-amount">
                            <p>There are <b th:text="${products.size()}"></b> Products</p>
                        </div>
                        <div class="nice-select select-option">
                            <select name="select">
                                <option value="1">Short By Name</option>
                                <option value="3">Short By Date</option>
                                <option value="5">Short By Category</option>
                            </select>
                        </div>
                    </div>
                    <!-- Shop Toolbar End -->
                    <!-- Shop Wrapper Start -->
                    <div class="row shop-wrapper grid_3">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20" th:each="product:${products}">
                            <!-- Single-Product-Start -->
                            <div class="item-product pt-0" >
                                <div class="product-thumb">
                                    <a th:href="@{/product-detail/}+${product.getId()}">
                                        <img style="height: 214px; width: 214px;" th:src="${product.getImagePath()}" alt="" class="img-fluid">
                                    </a>
                                    <div class="box-label">
                                        <!--<div class="label-product-new">
                                            <span>New</span>
                                        </div>-->
                                    </div>
                                    <!--<div class="action-link">
                                        <a class="quick-view same-link" href="#" title="Quick view" data-toggle="modal" data-target="#modal_box" data-original-title="quick view"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></a>
                                        <a class="compare-add same-link" href="compare.html" title="Add to compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                                        <a class="wishlist-add same-link" href="wishlist.html" title="Add to wishlist"><i class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i></a>
                                    </div>-->
                                </div>
                                <div class="product-caption">
                                    <div class="product-name">
                                        <a th:href="@{/product-detail/}+${product.getId()}" th:text="${product.getName()}"></a>
                                    </div>
                                    <!--<div class="rating">
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                    </div>-->
                                    <div class="price-box">
                                        <span class="regular-price" th:text="'£'+${product.getProductSpecifications().get(0).getPrice()}"></span>
                                        <!--<span class="old-price"><del>$350.50</del></span>-->
                                    </div>
                                    <!--<div class="cart">
                                        <div class="add-to-cart">
                                            <a href="cart.html" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i></a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <!-- Single-Product-End -->
                        </div>

                    </div>
                    <!-- Shop Wrapper End -->
                    <hr/>
                    <!-- Shop Toolbar Start -->
                    <!--<div class="toolbar-shop toolbar-bottom">
                        <div class="page-amount">
                            <p>Showing 1-10 of 30 results</p>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li class="previous"><a href="#"><i class="fa fa-angle-left"></i> Previous</a></li>
                                <li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">Next <i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>-->
                    <!--Shop Toolbar End-->
                </div>
            </div>
        </div>
    </div>
    <!--Shop area End-->

    <!--footer area start -->
    <div th:replace="~{front-stage/common/common::footer}"></div>
    <!--footer area end -->

    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href=""><i class="fa fa-angle-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- modal area start-->
    <div th:replace="~{front-stage/common/common::modal}"></div>
    <!-- modal area end-->

    
    
    
    <!-- JS-->
    <!-- Vendors JS -->
    <!--<script src="front-stage/js/vendor/jquery-3.4.1.min.js"></script>
<script src="front-stage/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="front-stage/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="front-stage/js/vendor/bootstrap.min.js"></script> -->
    <!-- Plugins JS -->
    <!-- <script src="front-stage/js/plugins/plugins.js"></script>
<script src="front-stage/js/plugins/jquery.ui.js"></script>
<script src="front-stage/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="front-stage/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="front-stage/js/plugins/slick.min.js"></script>
<script src="front-stage/js/plugins/modal.min.js"></script>
<script src="front-stage/js/plugins/sticky-sidebar.min.js"></script>
<script src="front-stage/js/plugins/countdown.min.js"></script>
<script src="front-stage/js/plugins/jquery.nice-select.min.js"></script> -->
    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="front-stage/js/vendor/vendor.min.js"></script>
    <script src="front-stage/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="front-stage/js/main.js"></script>

</body>

</html>