<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="front-stage/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="front-stage/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/animate.min.css"> -->
    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="front-stage/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="front-stage/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="front-stage/css/plugins/plugins.css">
    <link rel="stylesheet" href="front-stage/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="front-stage/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="front-stage/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="front-stage/css/style.min.css">

</head>

<body>

    <!-- Offcanvas Menu Area Start -->
    <div th:replace="~{front-stage/common/common::offcanvas}"></div>
    <!--Offcanvas Menu Area End-->

    <!-- Header Area Start -->
    <div th:replace="~{front-stage/common/common::header}"></div>
    <!-- Header Area  End -->

    <!--=====================
    Breadcrumb Aera Start
    =========================-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a href="index.html">Home</a></h1>
                            </li>
                            <li>My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================
    Breadcrumb Aera End
    =========================-->

    <!--======================
    My Account area Start
    ==========================-->
    <div class="my-account-area mt-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                    <ul class="nav flex-column dashboard-list mb-20" role="tablist">
                        <!--<li><a class="nav-link" data-toggle="tab" href="#dashboard">Dashboard</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#orders">Orders</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#downloads">Downloads</a></li>-->
                        <li><a class="nav-link active show" data-toggle="tab" href="#account-details">Account details</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#security">Security</a></li>
                        <li><a class="nav-link" th:href="@{/logout}">logout</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content mb-20">
                        <!--<div id="dashboard" class="tab-pane fade">
                            <h3 class="last-title">Dashboard </h3>
                            <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                        </div> &lt;!&ndash; end of tab-pane &ndash;&gt;
                        <div id="orders" class="tab-pane fade active show">
                            <h3 class="last-title">Orders</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>September 10, 2019</td>
                                            <td>Processing</td>
                                            <td>$25.00 for 1 item </td>
                                            <td><a class="btn btn-secondary" href="cart.html">view</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>October 4, 2019</td>
                                            <td>Processing</td>
                                            <td>$17.00 for 1 item </td>
                                            <td><a class="btn btn-secondary" href="cart.html">view</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> &lt;!&ndash; end of tab-pane &ndash;&gt;
                        <div id="downloads" class="tab-pane fade">
                            <h3 class="last-title">Downloads</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Downloads</th>
                                            <th>Expires</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Volga - Ecommerce Bootstrap Template</td>
                                            <td>August 10, 2019</td>
                                            <td>Never</td>
                                            <td><a class="btn btn-secondary" href="#">Download File</a></td>
                                        </tr>
                                        <tr>
                                            <td>Gatcomart - Ecommerce HTML Template</td>
                                            <td>September 11, 2019</td>
                                            <td>Never</td>
                                            <td><a class="btn btn-secondary" href="#">Download File</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> &lt;!&ndash; end of tab-pane &ndash;&gt;
                        <div id="address" class="tab-pane">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <h4 class="billing-address">Billing address</h4>
                            <a class="btn btn-secondary my-4" href="#">edit</a>
                            <address>
                                House #15<br>Road #1<br>Block #C <br>Banasree <br> Dhaka <br>1212
                        </address>
                                <p>HasTech</p>
                                <p>Bangladesh</p>
                        </div> &lt;!&ndash; end of tab-pane &ndash;&gt;-->
                        <div id="account-details" class="tab-pane fade active show">
                            <div class="checkout_info">
                                <form class="form-row" th:method="post" th:action="@{/edit-profile}">
                                    <h3 class="last-title">Account Details </h3>
                                    <input class="input-form" name="id" th:value="${user.getId()}" type="text" hidden>
                                    <div class="form_group col-12 col-lg-12">
                                        <label class="form-label">Username</label>
                                        <input class="input-form" name="username" th:value="${user.getUsername()}" type="text" disabled="">
                                    </div>
                                    <div class="form_group col-12 col-lg-6">
                                        <label class="form-label">First Name</label>
                                        <input class="input-form" name="firstName" th:value="${user.getFirstName()}" type="text">
                                    </div>
                                    <div class="form_group col-12 col-lg-6">
                                        <label class="form-label">Last Name</label>
                                        <input class="input-form" name="lastName" th:value="${user.getLastName()}" type="text">
                                    </div>
                                    <div class="form_group col-12">
                                        <label class="form-label">Email Address</label>
                                        <input class="input-form" name="email" th:value="${user.getEmail()}" type="text">
                                    </div>
                                    <h3 class="last-title">Shipping Details</h3>
                                    <input class="input-form" name="id" th:value="${user.getId()}" type="text" hidden="">
                                    <div class="form_group col-12">
                                        <label class="form-label">Street Address <span>*</span></label>
                                        <input placeholder="House number and street name" name="addr" th:value="${addr[0]}" class="input-form" type="text">
                                    </div>
                                    <div class="form_group col-12">
                                        <input placeholder="Apartment, suite, unit etc. (optional)" name="addr" th:value="${addr[1]}" class="input-form" type="text">
                                    </div>
                                    <div class="form_group col-12">
                                        <label class="form-label">Town / City <span>*</span></label>
                                        <input class="input-form" name="addr" th:value="${addr[2]}" type="text">
                                    </div>
                                    <div class="form_group col-12">
                                        <label class="form-label">State / County <span>*</span></label>
                                        <input class="input-form" name="addr" th:value="${addr[3]}" type="text">
                                    </div>
                                    <div class="form_group col-12">
                                        <label class="form-label" for="state">Country <span>*</span></label>
                                        <select class="niceselect-option nice-select select-option" name="addr" id="state">
                                            <option value="1" th:selected="${addr[4]}=='1'">UK</option>
                                            <option value="2" th:selected="${addr[4]}=='2'">China</option>
                                            <option value="3" th:selected="${addr[4]}=='3'">US</option>
                                            <option value="4" th:selected="${addr[4]}=='4'">Japan</option>
                                            <option value="5" th:selected="${addr[4]}=='5'">Korea</option>
                                            <option value="6" th:selected="${addr[4]}=='6'">Albania</option>
                                            <option value="7" th:selected="${addr[4]}=='7'">Bahrain</option>
                                            <option value="8" th:selected="${addr[4]}=='8'">Colombia</option>
                                            <option value="9" th:selected="${addr[4]}=='9'">Dominican Republic</option>
                                        </select>
                                    </div>
                                    <div class="form_group col-12">
                                        <label class="form-label">Postcode<span>*</span></label>
                                        <input class="input-form" name="addr" th:value="${addr[5]}" type="text">
                                    </div>
                                    <div class="form-row mt-20">
                                        <input type="submit" class="btn-secondary" value="Update">
                                    </div>
                                </form>
                            </div>
                        </div> <!-- end of tab-pane -->
                        <div id="security" class="tab-pane fade">
                            <h3 class="last-title">Change Password</h3>
                            <div class="checkout_info">
                                <form class="form-row" th:method="post" th:action="@{/edit-pwd}" onsubmit="return onFormSubmit()">
                                    <input class="input-form" name="id" th:value="${user.getId()}" type="text" hidden>
                                    <p id="err" style="color: red;font-weight: bold" th:text="${err}"></p>
                                    <div class="form_group col-12 col-lg-12">
                                        <label class="form-label">Username</label>
                                        <input class="input-form" name="username" th:value="${user.getId()}" type="text" disabled="">
                                    </div>
                                    <div class="form_group col-12 col-lg-6">
                                        <label class="form-label">New Password <span>*</span></label>
                                        <input id="newPwd" class="input-form input-login" name="password" type="text" required>
                                    </div>
                                    <div class="form_group col-12 col-lg-6">
                                        <label class="form-label">Confirm Password <span>*</span></label>
                                        <input id="confirmPwd" class="input-form input-login" name="passwordConfirm" type="text" required>
                                    </div>
                                    <div class="form-row mt-20">
                                        <input type="submit" class="btn-secondary" value="Update">
                                    </div>
                                </form>
                            </div>
                        </div> <!-- end of tab-pane -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--======================
    My Account area End
    ==========================-->




    <!--footer area start -->
    <div th:replace="~{front-stage/common/common::footer}"></div>
    <!--footer area end -->

    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href=""><i class="fa fa-angle-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- modal area start-->
    <div th:replace="~{front-stage/common/common::modal}"></div>
    <!-- modal area end-->


    <!-- JS============================================ -->

    <!-- Vendors JS -->
    <!--<script src="front-stage/js/vendor/jquery-3.4.1.min.js"></script>
<script src="front-stage/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="front-stage/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="front-stage/js/vendor/bootstrap.min.js"></script> -->
    <!-- Plugins JS -->
    <!-- <script src="front-stage/js/plugins/plugins.js"></script>
<script src="front-stage/js/plugins/jquery.ui.js"></script>
<script src="front-stage/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="front-stage/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="front-stage/js/plugins/slick.min.js"></script>
<script src="front-stage/js/plugins/modal.min.js"></script>
<script src="front-stage/js/plugins/sticky-sidebar.min.js"></script>
<script src="front-stage/js/plugins/countdown.min.js"></script>
<script src="front-stage/js/plugins/jquery.nice-select.min.js"></script> -->


    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="front-stage/js/vendor/vendor.min.js"></script>
    <script src="front-stage/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="front-stage/js/main.js"></script>

    <script>

        function onFormSubmit(){
            //password  validation
            var newPassword=$("#newPwd").val();
            var confirmPassword=$("#confirmPwd").val();
            if(newPassword!=confirmPassword){
                alert("Please enter the same password.");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>