<!doctype html>
<html class="no-js" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/front-stage/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="/front-stage/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/front-stage/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/front-stage/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/front-stage/css/vendor/animate.min.css"> -->
    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="/front-stage/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/plugins.css">
    <link rel="stylesheet" href="/front-stage/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/front-stage/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/front-stage/css/style.min.css">

</head>

<body>

    <!-- Offcanvas Menu Area Start -->
    <div th:replace="~{front-stage/common/common::offcanvas}"></div>
    <!--Offcanvas Menu Area End-->
    
    <!-- Header Area Start -->
    <div th:replace="~{front-stage/common/common::header}"></div>
    <!-- Header Area  End -->

    <!--=====================
    Breadcrumb Aera Start
    =========================-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a href="index.html">Home</a></h1>
                            </li>
                            <li>My Reviews</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================
    Breadcrumb Aera End
    =========================-->

    <!--======================
    My Account area Start
    ==========================-->
    <div class="my-account-area mt-10">
        <div class="container">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="orders" class="tab-pane fade active show">
                            <h3 class="last-title">Orders</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product Name</th>
                                            <th>Specifications</th>
                                            <th>General Review</th>
                                            <th>Detail Review</th>
                                            <th>Rating</th>
                                            <th>Create Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="review:${reviews}">
                                            <td th:text="${review.getId()}"></td>
                                            <td th:text="${review.getProductName()}"></td>
                                            <td th:text="${review.getProductSpecification()}"></td>
                                            <td th:text="${review.getGeneralReview()}"></td>
                                            <td th:text="${review.getRating()}"></td>
                                            <td th:text="${review.getCreateTime()}"></td>
                                            <td><a class="btn btn-xs btn-danger" href="javascript:void(0);" th:onclick="'confirmDelete(' + ${review.getId()} + ');' ">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end of tab-pane -->
                </div>
        </div>
    </div>
    <!--======================
    My Account area End
    ==========================-->

    <!--footer area start -->
    <div th:replace="~{front-stage/common/common::footer}"></div>
    <!--footer area end -->

    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href=""><i class="fa fa-angle-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- modal area start-->
    <div th:replace="~{front-stage/common/common::modal}"></div>
    <!-- modal area end-->

    <!-- JS
============================================ -->


    <!-- Vendors JS -->
    <!--<script src="/front-stage/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/front-stage/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="/front-stage/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="/front-stage/js/vendor/bootstrap.min.js"></script> -->
    <!-- Plugins JS -->
    <!-- <script src="/front-stage/js/plugins/plugins.js"></script>
<script src="/front-stage/js/plugins/jquery.ui.js"></script>
<script src="/front-stage/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="/front-stage/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/front-stage/js/plugins/slick.min.js"></script>
<script src="/front-stage/js/plugins/modal.min.js"></script>
<script src="/front-stage/js/plugins/sticky-sidebar.min.js"></script>
<script src="/front-stage/js/plugins/countdown.min.js"></script>
<script src="/front-stage/js/plugins/jquery.nice-select.min.js"></script> -->


    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/front-stage/js/vendor/vendor.min.js"></script>
    <script src="/front-stage/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/front-stage/js/main.js"></script>

    <!--delete-->
    <script>
        function confirmDelete(id) {
            if (confirm("Confirm to delete?"))
            {
                $.ajax({
                    url: "/review/delete/" + id,
                    type: "post",
                    success: function () {
                        window.location.reload()
                    }
                });
            }
        }
    </script>
</body>

</html>