<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="front-stage/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="front-stage/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="front-stage/css/vendor/animate.min.css"> -->
    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="front-stage/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="front-stage/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="front-stage/css/plugins/plugins.css">
    <link rel="stylesheet" href="front-stage/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/front-stage/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/front-stage/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/front-stage/css/style.min.css">

    <style type="text/css">
        input[type="radio"] {
            display: none;
        }
        input[type="radio"]+span {
            display: inline-block;
            width: 150px;
            height: 50px;
            font-size: 30px;
            line-height:50px;
            text-align: center;
            border: 1px solid #999;
            background-color: #fff;
        }
        input[type="radio"]:checked+span {
            border: 1px solid #090;
            background-color: #6f6;
        }
    </style>

</head>

<body>

    <!-- Offcanvas Menu Area Start -->
    <div th:replace="~{front-stage/common/common::offcanvas}"></div>
    <!--Offcanvas Menu Area End-->

    <!-- Header Area Start -->
    <div th:replace="~{front-stage/common/common::header}"></div>
    <!-- Header Area  End -->

    <!--=====================
    Breadcrumb Aera Start
    =========================-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a href="index.html">Home</a></h1>
                            </li>
                            <li>
                                <h1><a href="shop.html">Shop</a></h1>
                            </li>
                            <li>Product Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================
    Breadcrumb Aera End
    =========================-->

    <!-- ========================
    Product Details Area Start 
    ===========================-->
    <div class="product-area product-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 mt-50">
                    <!-- Product Zoom Image start -->
                    <div class="product-slider-container arrow-center text-center">
                        <div class="product-item">
                            <a th:href="${product.getImagePath()}"><img style="height: 400px; width: 400px;" th:src="${product.getImagePath()}" class="img-fluid" alt="" /></a>
                        </div>
                    </div>
                    <!-- Product Zoom Image End -->
                    <!-- Product Thumb Zoom Image Start -->
                    <!--<div class="product-details-thumbnail arrow-center text-center">
                        <div class="product-item-thumb">
                            <img src="/front-stage/images/product/product-details/product-thumb-1.jpg" class="img-fluid" alt="" />
                        </div>
                    </div>-->
                </div>
                <div class="col-lg-7 col-12 mt-45">
                    <!-- Product Summery Start -->
                    <div class="product-summery position-relative">
                        <div class="product-head">
                            <h1 class="product-title" th:text="${product.getName()}"></h1>
                        </div>
                        <div class="rating-meta d-flex">
                            <!--<div class="rating">
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                            </div>-->
                            <ul class="meta d-flex">
                                <li>
                                    <a href="#"><i class="fa fa-commenting-o"></i>Read reviews(3)</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-edit"></i>Write a review</a>
                                </li>
                            </ul>
                        </div>
                        <div class="price-box">
                            <span id="price" class="regular-price" th:text="'£'+${productSpecifications.get(0).getPrice()}"></span>
                        </div>
                        <div class="product-description">
                            <p th:text="${product.getBrand()}"></p>
                        </div>

                        <div class="product-packeges">
                            <form id="specForm" th:action="@{/cart/add/}" th:method="post" onsubmit="return onFormSubmit()" data-parsley-validate="">
                                <!--<div class="form-group btn-group-toggle" data-toggle="buttons">
                                    <span style="font-weight:bold">aaa</span>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="options" id="option1" value="1" >Active
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="options" id="option2" value="2"> Radio
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="options" id="option3" value="3"> Radio
                                    </label>
                                </div>-->
                                <input type="text" th:value="${productId}" name="productId" class="form-control" hidden>
                                <input type="text" id="inputSpecificationId" name="specificationId" class="form-control" hidden>

                                <div class="form-group product-quantity">
                                    <span class="qty-btn minus"><i class="fa fa-angle-down"></i></span>
                                    <input type="text" id="input-qty" class="input-qty" name="quantity" value="1">
                                    <span class="qty-btn plus"><i class="fa fa-angle-up"></i></span>
                                </div>
                                <div class="form-group product-buttons grid_list">
                                    <div class="action-link">
                                        <a class="compare-add same-link" href="compare.html" title="Add to compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                                        <button type="submit" class="btn-secondary">Add To Cart</button>
                                        <a class="wishlist-add same-link" href="wishlist.html" title="Add to wishlist"><i class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Product Summery End -->
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-lg-3 col-sm-3 col-md-2">
                    <!-- Product Description Tab Start -->
                    <div class="product-desc-tab">
                        <ul class="nav flex-column" role="tablist">
                            <li><a class="active" href="#description" role="tab" data-toggle="tab" aria-selected="false">Description</a></li>
                            <!--<li><a href="#sheet" role="tab" data-toggle="tab" aria-selected="false">Data sheet</a></li>-->
                            <li><a href="#reviews" role="tab" data-toggle="tab" aria-selected="true">Reviews</a></li>
                        </ul>
                    </div>
                    <!-- Product Description Tab End -->
                </div>
                <div class="col-lg-9 col-sm-9 col-md-10">
                    <div class="product-desc-tab-content">
                        <!-- Start Single Content -->
                        <div role="tabpanel" id="description" class="product_tab_content fade active show">
                            <div class="product_description_wrap mt-20">
                                <div class="product_desc">
                                    <h2 class="last-title mb-20">Details</h2>
                                    <p></p>
                                </div>
                                <!--<div class="pro__feature mt-20">
                                    <h2 class="last-title mb-20">Features</h2>
                                    <ul class="feature_list">
                                        <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Duis aute irure dolor in reprehenderit</a></li>
                                        <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Irure dolor in reprehenderit in voluptate</a></li>
                                        <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Sed do eiusmod tempor incididunt ut labore</a></li>
                                        <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Nisi ut aliquip ex ea commodo consequat.</a></li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                        <!-- End Single Content -->
                        <!-- Start Single Content -->
                        <div role="tabpanel" id="sheet" class="product_tab_content fade">
                            <div class="pro__feature mt-20">
                                <h2 class="last-title mb-20">Features</h2>
                                <ul class="feature_list">
                                    <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Duis aute irure dolor in reprehenderit</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Irure dolor in reprehenderit in voluptate</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Sed do eiusmod tempor incididunt ut labore</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Nisi ut aliquip ex ea commodo consequat.</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Content -->
                        <!-- Start Single Content -->
                        <div role="tabpanel" id="reviews" class="product_tab_content fade">
                            <div class="review_address_inner mt-20">
                                <!-- Start Single Review -->
                                <div class="pro_review">
                                    <div class="review_thumb">
                                        <img src="front-stage/images/blog/comment/comment-3.jpg" alt="review images">
                                    </div>
                                    <div class="review_details">
                                        <div class="review_info">
                                            <a class="last-title" href="#">Gerald Barnes</a>
                                            <div class="rating">
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                            </div>
                                            <div class="rating_send">
                                                <a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
                                                <a href="#"><i class="zmdi zmdi-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="review_date">
                                            <span>27 Jun, 2016 at 2:30pm</span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                    </div>
                                </div>
                                <!-- End Single Review -->
                                <!-- Start Single Review -->
                                <div class="pro_review pro-second">
                                    <div class="review_thumb">
                                        <img src="front-stage/images/blog/comment/comment-3.jpg" alt="review images">
                                    </div>
                                    <div class="review_details">
                                        <div class="review_info">
                                            <a class="last-title" href="#">Gerald Barnes</a>
                                            <div class="rating">
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                                <span class="yellow"><i class="fa fa-star"></i></span>
                                            </div>
                                            <div class="rating_send">
                                                <a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
                                                <a href="#"><i class="zmdi zmdi-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="review_date">
                                            <span>27 Jun, 2016 at 2:30pm</span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                    </div>
                                </div>
                                <!-- End Single Review -->
                            </div>
                            <!-- Start RAting Area -->
                            <div class="rating_wrap mt-20">
                                <h4 class="last-title">Your Rating</h4>
                                <div class="rating_list mt-20">
                                    <!-- Start Single List -->
                                    <div class="rating">
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                    </div>
                                    <div class="rating">
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                        <span class="yellow"><i class="fa fa-star"></i></span>
                                    </div>
                                    <!-- End Single List -->
                                </div>
                            </div>
                            <!-- End RAting Area -->
                            <div class="comments_form">
                                <h3>Leave a Reply </h3>
                                <p>Your email address will not be published. Required fields are marked *</p>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="review_comment">Comment </label>
                                            <textarea name="comment" id="review_comment" spellcheck="false" data-gramm="false"></textarea>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <label for="author">Name</label>
                                            <input id="author" type="text">

                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <label for="email">Email </label>
                                            <input id="email" type="text">
                                        </div>
                                    </div>
                                    <button class="button" type="submit">Post Comment</button>
                                </form>
                            </div>
                        </div>
                        <!-- End Single Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================
    Product Details Area End 
    ===========================-->




    <!--footer area start -->
    <div th:replace="~{front-stage/common/common::footer}"></div>
    <!--footer area end -->

    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href=""><i class="fa fa-angle-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- modal area start-->
    <div th:replace="~{front-stage/common/common::modal}"></div>
    <!-- modal area end-->


    <!-- JS============================================ -->

    <!-- Vendors JS -->
    <!--<script src="front-stage/js/vendor/jquery-3.4.1.min.js"></script>
<script src="front-stage/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="front-stage/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="front-stage/js/vendor/bootstrap.min.js"></script> -->
    <!-- Plugins JS -->
    <!-- <script src="front-stage/js/plugins/plugins.js"></script>
<script src="front-stage/js/plugins/jquery.ui.js"></script>
<script src="front-stage/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="front-stage/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="front-stage/js/plugins/slick.min.js"></script>
<script src="front-stage/js/plugins/modal.min.js"></script>
<script src="front-stage/js/plugins/sticky-sidebar.min.js"></script>
<script src="front-stage/js/plugins/countdown.min.js"></script>
<script src="front-stage/js/plugins/jquery.nice-select.min.js"></script> -->


    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/front-stage/js/vendor/vendor.min.js"></script>
    <script src="/front-stage/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/front-stage/js/main.js"></script>

    <script th:inline="javascript">
        var specifications;
        var container=$("#specForm");

        var count=0;
        $(document).ready(function QuerySpecifications(){
            var categoryId =  [[${product.getCategoryId()}]];
            $.ajax({
                url: "/dashboard/specification/"+categoryId,
                type: "post",
                dataType: "json",
                contentType: "application/json",
                traditional: true,
                success: function (data) {
                    specifications=data;
                    //container.empty();
                    count=0;
                    displaySpecifications();
                },
                error: function (msg) {
                    alert("Error！");
                }
            });
        });

        function displaySpecifications(){
            var content='';
            for (var i = 0;i<specifications.length;i++) {
                content+=
                    ('<div class="form-group btn-group-toggle" data-toggle="buttons">' +
                        '<span style="font-weight:bold">'+specifications[i][0].name+'&emsp;&emsp;'+ '</span>');

                for(var j = 0;j<specifications[i].length;j++){
                    var spec = specifications[i][j];
                    content+=
                        ('<label class="btn btn-outline-primary">' +
                        '     <input type="radio" name="specificationId'+count+'" id="spec" value="'+spec.id+'">'+spec.value +
                        '</label>'+' ');
                }
                content+='</div>';
                count++;
            }
            container.prepend(content);
            return false;
        }


        var inputSpecId=$("#inputSpecificationId");

        function onFormSubmit(){
            if(specifications.length>0){ //if have specification
                var specIdArr=new Array();//selected
                for(var i=0;i<count;i++){
                    var radioName="specificationId"+i;
                    specIdArr[i]=$("input[name="+radioName+"]:checked").val();
                }
                inputSpecId.val(specIdArr); //pass specification id array to backend

                var cnt=0;
                var specObj=new Object();
                for (var i = 0;i<specifications.length;i++) {
                    for(var j = 0;j<specifications[i].length;j++){
                        var spec = specifications[i][j];
                        if(spec.id==specIdArr[i]){
                            specObj[spec.name]=spec.value;
                            cnt++;
                        }
                    }
                }
                if(cnt<specifications.length){
                    alert("Please select specification!");
                    return false;
                }

                //specification validation
                var jsonStr=JSON.stringify(specObj);
                var specStockMap = [[${pdctSpecMap}]];
                if(specStockMap.hasOwnProperty(jsonStr)===false){
                    alert("Sorry, currently we don't have this product with selected specification. Please reselect!");
                    return false;
                }
            }
            //stock validation
            var stock=specStockMap[jsonStr];
            var quantity=$("#input-qty").val();
            if(stock<quantity){
                alert("Sorry, currently we don't have enough stock of selected specification. Please adjust the quantity!");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>